.container{
    width: 100%;
    min-height: 100vh;
    background: #fff;
 
    .wrapper{
        width: 70%;
        margin:0 auto;
        text-align: center;
        padding-top: 3%;
        .title{
            font-size: 40px;
        }
    }
    .search-bar{
        // margin-bottom: 70px;
        float: left;
        width: 100%;
        height: 235px;
        position: relative;
        ul{
            height: 235px;
        // padding-left: 8%;

            li{
                width: 20%;
                // height: 140px;
               float: left;
                text-align: center;
                padding: 12px 0;
                position: relative;
                z-index: 999;
                .bar-bck:hover{
                    border-radius: 10px;
                    box-shadow: 0 0 6px rgba(24, 144, 255,0.5);
                 }
                 .bar-bck{
                    float: left;
                    text-align: center;
                    width: 58%;
                    margin: 0 15%;
                 }
                .icon-text{
                    font-size: 16px;
                    cursor: pointer;
                    font-weight: 700;
                }
                .icon-text :hover{
                    color:#40a9ff ;
                }
             
                img{
                    // max-width: 90px;
                    // max-height: 90px;
                    // padding:14px;
                    margin: 14px 0;
                }
              
            }
        }
    }
    .search{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 40px;
       .ant-input-group-wrapper{
        border-color: #40a9ff;
        display: inline;
        height: 50px !important;
        // box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        border-radius: 8px;
        .ant-input-group{
            width:100%;
            // border: 1px solid #40a9ff;
            border-radius: 8px;
            // display: none;
            // float: left;
        }
        }
        .ant-input{
            height: 50px;
            line-height: 50px;
            border-color: #40a9ff;
            border-radius: 8px 0 0 8px;
        }
        .ant-btn-primary{
            height: 50px;
            // margin-top: -2px;
        }
    }
    .ant-form-item-label > label{
        float: left;
        height: auto;
        text-align: left;
        &::after{
            content:''
        }
    }
    .ant-form-item{
        clear: both;
    }
    .ant-input,.ant-select.ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
        height: 40px;
        text-align: left;
        line-height: 40px;
    }
    .ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder{
        line-height: 40px;
    }
    .ant-select-multiple .ant-select-selection-item-content{
        margin-right: 0;
        font-size: 14px;
    }
    .ant-input[disabled]{
        background-color:#fff;
    }

}
.footer{
    border-top: 1px solid #efefef;
    clear: both;
    padding: 20px 0;
    height: 265px;
    margin-top: 20px;
    h1{
        width: 100%;
        float: left;
        font-size: 20px;
    }
    .gov-qx{
        clear: both;
        width: 90%;
        margin: 0 auto;
        text-align: left;
        .gov-hover{
            width: 13%;
            clear: both;
            text-align: center;
            padding: 12px 0;
            margin-left: -3%;
            &:hover{
                border-radius: 10px;
                box-shadow: 0 0 6px rgba(24, 144, 255,0.5); 
            }
        }
        img{
            max-width: 90px;
            max-height: 90px;
        }
     
        p{
            // width: 121px;
            font-size: 16px;
            text-align: center;
            cursor: pointer;
            font-weight: 700;
            margin-top: 10px;
            // margin-left: -15px;
        }
    }
}
.on-off{
    position: absolute;
    height: 46px;
    right: 6%;
    width: 28%;
    height: 25px;
    bottom: 50px;
    .parentheses-left{
        position: absolute;
        height: 13px;
        border-bottom: 3px solid #efefef;
        // background: #000;
        width: 33%;
        /* right: 10%; */
        top: -15px;
        left: 9%;
        border-radius: 0 0 0 100px;
    }
    .parentheses-right{
        position: absolute;
        height: 13px;
        border-bottom: 3px solid #efefef;
        // background: #000;
        width: 33%;
        right: 14%;
        /* right: 0; */
        border-radius: 0 0 100px 0;
        /* bottom: 0; */
        top: -15px;
    }
    .text{
        color: #4d4d4d;
        font-size: 16px;
        font-weight: 700;
        position: absolute;
        top: -16px;
        text-align: center;
        right: 48%;
        cursor: pointer;
        z-index: 999;
    }
    .on-off-icon{
        position: absolute;
    right: 50%;
    bottom: 5px;
    }
}