.creatform{
    background: #efefef;
    clear: both;
    padding: 3% 5% 7% 5%;
    margin: 0 auto;
    // height: 653px;
    h1{
        text-align: left;
        font-size: 20px;
        float: left;
        padding: 15px 0;
    }
    .ant-form-item .ant-input-group .ant-select, .ant-form-item .ant-input-group .ant-cascader-picker{
        width: 32%;
       
    }
    .ant-row .ant-form-item{
        width: 100%;
        margin:0;
       
    }
    .special-input{
        margin-top: 25px;
    }
    .ant-select-selector{
        min-height: 40px;
        text-align: left;
    }
    p{
        margin-bottom: 0;
    }
    .reset{
        float: right;
        // margin-top: 15px;
        // padding: 20;
        width: 100px;
        height: 45px;
        border-radius: 4px;
    }
    .form-btn-box{
        height: 80px;
        clear: both;
        width: 100%;
        // padding: 20px 0;
        margin-bottom: 40px;
        float: left;
    }
    .error{
        text-align: left;
        color: red;
        margin-left: 17%;
        margin-top: -10px;
        margin-bottom: 10px;
    }
}